<section class="l-section l-section--variant-1">
  <div class="l-container">
    <div class="c-about">
      <div class="c-about__col">
        <h2 class="c-h2"><span class="h-color-blue">Почему</span> стоит обратиться ко мне?</h2>
        <ul class="c-about__list c-text">
          <li class="c-about__list-item">Опыт работы в сегменте жилой недвижимости более 10 лет</li>
          <li class="c-about__list-item">Более 500 семей при моем участии благополучно решили свои вопросы с жильем и их число растет</li>
          <li class="c-about__list-item">Я - публично практикующий риэлтор, сведения обо мне есть в открытых источниках информации, в СМИ</li>
          <li class="c-about__list-item">Информационная и юридическая поддержка агентства
            <br>«НДВ-Недвжимость для Вас»</li>
          <li class="c-about__list-item">Еженедельное информирование клиента на всех этапах работы</li>
          <li class="c-about__list-item">Регулярная аналитика рынка</li>
        </ul>
      </div>
      <div class="c-about__col c-about__col--video">
        <div class="c-about__video">
        	<iframe class="c-about__video-unit" src="https://www.youtube.com/embed/ZTGrl-PK7qI" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
