{%- set cases = [
	{
		"title": "Как я помог клиенту сэкономить 500 тыс. руб.",
		"img": "case1.jpg",
		"url": "#"
	},
	{
		"title": "6 типичных ошибок при продаже квартиры самостоятельно",
		"img": "case2.jpg",
		"url": "#"
	},
	{
		"title": "Почему выгодно покупать квартиру в кризис",
		"img": "case3.jpg",
		"url": "#"
	},{
		"title": "Как я помог клиенту сэкономить 500 тыс. руб.",
		"img": "case1.jpg",
		"url": "#"
	},
	{
		"title": "6 типичных ошибок при продаже квартиры самостоятельно",
		"img": "case2.jpg",
		"url": "#"
	},
	{
		"title": "Почему выгодно покупать квартиру в кризис",
		"img": "case3.jpg",
		"url": "#"
	},{
		"title": "Как я помог клиенту сэкономить 500 тыс. руб.",
		"img": "case1.jpg",
		"url": "#"
	},
	{
		"title": "6 типичных ошибок при продаже квартиры самостоятельно",
		"img": "case2.jpg",
		"url": "#"
	},
	{
		"title": "Почему выгодно покупать квартиру в кризис",
		"img": "case3.jpg",
		"url": "#"
	},{
		"title": "Как я помог клиенту сэкономить 500 тыс. руб.",
		"img": "case1.jpg",
		"url": "#"
	},
	{
		"title": "6 типичных ошибок при продаже квартиры самостоятельно",
		"img": "case2.jpg",
		"url": "#"
	},
	{
		"title": "Почему выгодно покупать квартиру в кризис",
		"img": "case3.jpg",
		"url": "#"
	}
] -%}
<section class="l-section">
	<div class="l-container">
		<h2 class="c-h1 h-text-center">Кейсы</h2>
		<div class="c-media">
			<div class="c-media__list">
				{%- for case in cases %}
					<a class="c-media__item" href="{{ case.url }}">
						<div class="c-media__img" style="background-image: url(../uploads/{{ case.img }})"></div>
						<div class="c-media__title">{{ case.title }}</div>
					</a><!-- .media item -->
				{%- endfor %}
			</div><!-- .media list -->
		</div>
	</div>
</section>