<section class="l-section l-section--variant-2">
	<div class="l-container">
		<div class="c-h3 h-text-center">Звоните прямо сейчас <a href="tel:+79629382676">+7 (962) 938-26-76</a> и получите бесплатную консультацию</div>
		<form class="c-inline-form c-form" action="/" method="POST">
			<div class="c-inline-form__col">
				<p class="c-text">Либо заполните форму, и&nbsp;я&nbsp;сам перезвоню вам:</p>
			</div>
			<div class="c-inline-form__col">
				<input class="c-form__control" type="text" placeholder="Ваше имя" required name="userName">
			</div>
			<div class="c-inline-form__col">
				<input class="c-form__control c-form__control--tel" type="tel" placeholder="Ваш телефон" required name="userTel">
			</div>
			<div class="c-inline-form__col">
				<button type="submit" class="c-btn">Получить консультацию</button>
			</div>
		</form>
	</div>
</section><!-- .consultation form section -->