{%- set feed = [
	{
		"name": "Константин Константинопольский",
		"text": "Вместе с Александром я провел выгодную сделку и сэкономил много денег"
	},
	{
		"name": "Агнесса Розенцвейг",
		"text": "Благодаря Александру, мне не пришлось тратить время, чтобы найти оптимальный вариант квартиры"
	},
	{
		"name": "Алексей Васильков",
		"text": "Я выгодно продал квартиру и затем купил новую большей площади!"
	},
	{
		"name": "Константин Константинопольский",
		"text": "Вместе с Александром я провел выгодную сделку и сэкономил много денег"
	},
	{
		"name": "Агнесса Розенцвейг",
		"text": "Благодаря Александру, мне не пришлось тратить время, чтобы найти оптимальный вариант квартиры"
	},
	{
		"name": "Алексей Васильков",
		"text": "Я выгодно продал квартиру и затем купил новую большей площади!"
	},
	{
		"name": "Константин Константинопольский",
		"text": "Вместе с Александром я провел выгодную сделку и сэкономил много денег"
	},
	{
		"name": "Агнесса Розенцвейг",
		"text": "Благодаря Александру, мне не пришлось тратить время, чтобы найти оптимальный вариант квартиры"
	},
	{
		"name": "Алексей Васильков",
		"text": "Я выгодно продал квартиру и затем купил новую большей площади!"
	}
]-%}
<section class="l-section l-section--variant-4">
	<div class="l-container h-text-center">
		<h2 class="c-h1 h-text-shadow">Все еще сомневаетесь?</h2>
		<div class="c-feeds">
			<div class="c-feeds__list">
				{%- for feed in feed %}
					<div class="c-feeds__item">	
						<div class="c-feeds__text">{{ feed.text }}</div>	
						<div class="c-feeds__name">{{ feed.name }}</div>	
					</div><!-- .feeds item-->
				{%- endfor %}
			</div>
		</div><!-- .feeds -->
	</div>
</section>