<header class="c-header">
  <nav class="c-nav">
    <div class="l-container">
      <div class="c-nav__container">
        <div class="c-nav__inner">
          <a href="#" class="c-nav__item">Продажа квартир</a>
          <a href="#" class="c-nav__item">Покупка квартир</a>
          <a href="#" class="c-nav__item">Альтернативные сделки</a>
          <a href="#" class="c-nav__item">Каталог объектов</a>
          <a href="#" class="c-nav__item">Кейсы</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="l-container">
    <div class="c-header__row">
      <div class="c-header__col">
        <a class="c-brand" href="/">
          <div class="c-brand__img">
            <img src="../images/logo.png" alt="Александр Мурашев - Ваш персональный риэлтор">
          </div>
          <div class="c-brand__name">Александр Мурашев</div>
        </a>
      </div>
      <div class="c-header__col">
        <p class="c-header__text c-header__text--larger h-text-italic">Ваш персональный риэлтор</p>
      </div>
      <div class="c-header__col c-header__col--status">
        <p class="c-header__text h-text-italic">Победитель конкурса
          <br><b>&laquo;Лучший риэлтор&raquo;</b>
          <br> в 2016 году</p>
      </div>
      <div class="c-header__col">
        <p class="c-header__text h-text-italic">Звоните</p>
        <a href="tel:+79629382676" class="c-header__tel">+7 (962) 938-26-76</a>
        <p class="c-header__text">Москва, ул. Нижняя Масловка, д. 14</p>
      </div>
    </div>
  </div>
</header><!-- .header -->
