<div class="l-container l-section l-section--variant-3"  id="onlineRequestForm">
  <h3 class="c-h3 h-mb5">Оцените квартиру прямо сейчас – это просто</h3>
  <p class="c-text">Быстрая профессиональная оценка стоимости вашей квартиры:</p>
  <form action="/" method="GET" class="c-form c-request">
    <div class="c-request__row">
      <div class="c-request__col c-request__col--size-1">
        <input type="text" name="city" class="c-form__control" placeholder="Город">
        <input type="text" name="street" class="c-form__control" placeholder="Улица">
      </div>
      <div class="c-request__col c-request__col--size-1">
        <div class="c-request__inner">
          <div class="c-request__row">
            <div class="c-request__col">
              <input type="text" name="house" class="c-form__control" placeholder="Дом">
            </div>
            <div class="c-request__col">
              <input type="text" name="floor" class="c-form__control" placeholder="Этаж">
            </div>
          </div>
        </div>
        <input type="text" name="square" class="c-form__control" placeholder="Общ. площадь кв.">
      </div>
      <div class="c-request__col c-request__col--size-2">
        <input type="text" name="userName" class="c-form__control" placeholder="Ваше имя" required>
        <input type="tel" name="tel" class="c-form__control c-form__control--tel" placeholder="Ваш телефон" required>
      </div>
      <div class="c-request__col c-request__col--size-3">
        <button type="submit" class="c-btn c-btn--multiline">Получить оценку</button>
      </div>
    </div>
  </form>
</div>
