<section class="c-slider">
	<div class="c-slider__item" style="background-image: url(../images/slider1.jpg)">
		<div class="l-container">
			<div class="c-slider__content">
				<div class="c-slider__title">
					<span>Опытный</span> <span>риэлтор</span>
				</div>
				<p class="c-slider__text">Анализ рынка, оценка реальности покупки квартиры, соответствующей требованиям и возможностям покупателя.</p>
				<img src="../images/sign.png" align="right" alt="">
			</div>
		</div>
	</div> <!-- .slider-item -->
	<div class="c-slider__item" style="background-image: url(../images/slider1.jpg)">
		<div class="l-container">
			<div class="c-slider__content">
				<div class="c-slider__title">
					<span>Опытный</span> <span>риэлтор</span>
				</div>
				<p class="c-slider__text">Анализ рынка, оценка реальности покупки квартиры, соответствующей требованиям и возможностям покупателя.</p>
				<img src="../images/sign.png" align="right" alt="">
			</div>
		</div>
	</div> <!-- .slider-item -->
	<div class="c-slider__item" style="background-image: url(../images/slider1.jpg)">
		<div class="l-container">
			<div class="c-slider__content">
				<div class="c-slider__title">
					<span>Опытный</span> <span>риэлтор</span>
				</div>
				<p class="c-slider__text">Анализ рынка, оценка реальности покупки квартиры, соответствующей требованиям и возможностям покупателя.</p>
				<img src="../images/sign.png" align="right" alt="">
			</div>
		</div>
	</div> <!-- .slider-item -->
	<div class="c-slider__item" style="background-image: url(../images/slider1.jpg)">
		<div class="l-container">
			<div class="c-slider__content">
				<div class="c-slider__title">
					<span>Опытный</span> <span>риэлтор</span>
				</div>
				<p class="c-slider__text">Анализ рынка, оценка реальности покупки квартиры, соответствующей требованиям и возможностям покупателя.</p>
				<img src="../images/sign.png" align="right" alt="">
			</div>
		</div>
	</div><!-- .slider-item -->
	<div class="c-slider__item" style="background-image: url(../images/slider1.jpg)">
		<div class="l-container">
			<div class="c-slider__content">
				<div class="c-slider__title">
					<span>Опытный</span> <span>риэлтор</span>
				</div>
				<p class="c-slider__text">Анализ рынка, оценка реальности покупки квартиры, соответствующей требованиям и возможностям покупателя.</p>
				<img src="../images/sign.png" align="right" alt="">
			</div>
		</div>
	</div> <!-- .slider-item -->
</section><!-- .slider items -->